body {
	padding: 20px;
	font-family: $font-stack;
	color: $body-color;
	background: image-url( 'bg.png' );
	background-size: 100px 100px;
}

section {
	margin: 0 auto 140px;
	max-width: $body-width;

	p {
		font-size: 1em;
		line-height: 2.4em;
	}
}

.image-right {
	float: right;
	padding-left: 50px;
}

.image-left {
	float: left;
	padding-right: 50px;
}

.dropcap {
	padding-right: .1em;
	font-size: 1.7em;
	color: $dropcap-color;
}