body {
	padding: 20px;
	font-family: $font-stack;
	color: $body-color;
	background: image-url( 'bg.png' );
	background-size: 100px 100px;
}

section {
	margin: 0 auto 140px;
	max-width: $body-width;

	p {
		font-size: 1.2em;
		line-height: 2.4em;
	}
}

.image-right {
	float: right;
	padding: 0 0 50px 25px;
}

.image-left {
	float: left;
	padding: 0 50px 25px 0;
}

// .dropcap {
// 	padding-right: .1em;
// 	font-size: 1.7em;
// 	color: $dropcap-color;
// }