.logo {
    margin: 90px auto 100px;
    @include logo-title( 'logo.svg', 432px, 237px );
}

.button {
	display: block;
	margin: 70px auto 0;
	width: 420px;
    padding: 10px 0;
    text-align: center;
    font-size: 1.7em;
    color: $title-color;
    text-decoration: none;
    border: 3px solid #999;
}