.resources-title {
	margin-bottom: 115px;
	padding-top: 110px;
	font-size: 3em;
	text-align: center;
	color: $title-color;
	background: inline-image( 'resources.svg' ) center top no-repeat;
}

.gv-resource-title {
	@include logo-title( 'google_ventures.svg', 432px, 110px );
}

.ideo-resource-title {
	@include logo-title( 'ideo_design_kit.svg', 432px, 110px );
}